<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.body.addEventListener('htmx:configRequest', function (evt) {
        let input = document.getElementById('tx-state-input').value
        const n = evt.detail.parameters.getAll('input')
        input = n[0]
        evt.detail.parameters['input'] = input

        const appName = document.getElementById('tx-state-appName').value
        evt.detail.parameters['appName'] = appName

        const list = document.getElementById('tx-state-list').value
        evt.detail.parameters['list'] = list
      });
    });
  </script>
</head>

<body>
  <div id="tx-state">
    <data id="tx-state-appName" value="{{ .appName }}"></data>
    <data id="tx-state-input" value="{{ .input }}"></data>
    <data id="tx-state-list" value="{{ .listState }}"></data>
  </div>

  <h1 class="chunk-a"> {{ .appName }} </h1>

  <form hx-swap="outerHTML" hx-get='/add/' hx-target="#tx-state">
    <input name="input" type="text" value="{{ .input }}">
    <button type="submit">Add</button>
  </form>

  <div class="chunk-b">
    {{range $i, $item := .list}}
    <div hx-swap="outerHTML" hx-get='/delete/?i={{ $i }}' hx-target="#tx-state"> {{ $item }} </div>
    {{end}}
  </div>
</body>

</html>
