body {
  display: flex;
  background: SmokeWhite;
  color: DarkSlateGray;
  font-family: Verdana;
}

main {
  margin: 4rem auto;
  width: 40rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
  text-shadow: 0.25rem 0.25rem Silver;
}

h2 {
  margin-top: 8rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-shadow: 0.125rem 0.125rem Silver;
}

h3 {
  padding-top: 1rem;
}

a {
  color: RoyalBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.5rem;
}

ul {
  line-height: 1.5rem;
}

ol {
  margin: 0;
}

pre {
  margin: 0;
  padding: 0;
}

code {
  background: Cornsilk;
  padding: 0.0625rem 0.25rem;
  border-radius: 0.25rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 0;
  width: 16rem;
  padding: 1rem;
  border-right: 1px solid Silver;
  max-height: 100vh;
}

nav h2 {
  margin: 0;
  padding: 0;
}

nav h3 {
  font-size: 1rem;
  font-weight: semibold;
  margin: 0;
  padding: 0.25rem 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.25rem;
}

nav a {
  display: block;
  width: 100%;
}

.btn {
  text-decoration: none;
  border: solid DarkSlateGray;
  border-radius: 0.25rem;
  padding: 0.5rem 3rem;
  color: DarkSlateGray;
  font-weight: bold;
  background: LightBlue;
  box-shadow: 0.25rem 0.25rem DarkSlateGray;

  &:hover {
    background-color: PowderBlue;
    text-decoration: none;
  }
}
