body {
  color: #16161d;
  background: #efeff3;
  display: flex;
  font-size: 1rem; /* 1rem (16px) */ 
  line-height: 1.5rem; /* calc(1.5 / 1) */
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 0;
  width: 16rem;
  padding: 1rem;
  border-right: 1px solid Silver;
  max-height: 100vh;
}

nav h2 {
  margin: 0;
  padding: 0;
}

nav h3 {
  font-size: 1rem;
  font-weight: semibold;
  margin: 0;
  padding: 0.25rem 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 0.25rem;
}

nav a {
  display: block;
  width: 100%;
}

main {
  margin: 4rem auto;
  width: 40rem;
}

h1 {
  font-family: Verdana;
  font-size: 3rem;
}

h2 {
  color: DarkSlateGray;
  text-shadow: 0.125rem 0.125rem Silver;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h3 {
  padding-top: 1rem;
}

a {
  color: RoyalBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre {
  margin: 0;
  padding: 0;
}

code {
  background: Gainsboro;
  padding: 0.0625rem 0.25rem;
  border-radius: 0.25rem;
}

.btn {
  text-decoration: none;
  border: solid;
  border-radius: 0.25rem;
  color: #16161d;
  padding: 0.5rem 2rem;
  font-weight: bold;
  background-color: LightGray;

  &:hover {
    background-color: Silver;
  }
}

.item {
  &:hover {
    cursor: pointer;
    text-decoration: line-through;
  }
}
